---
const now = Date.now();
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSR</title>
</head>
<body>
    <h1>当前时间: {now}</h1>
    <a href="/">Home</a>
	<a href="/time">SSR Page</a>

</body>
</html>